& .about {
  position: relative;
  text-align: center;

  width: 20.9375rem;
  margin-inline: auto;
  padding-top: 3rem;

  & img {
    width: 2.5rem;
    opacity: 0;
  }

  & img:nth-child(1) {
    position: absolute;
    top: 0;
    right: 3.7rem;
    transform: rotate(10deg);
  }

  & p {
    & span {
      font-weight: var(--fs-md);
      line-height: 1.4;
      color: #e2e7e9;
      opacity: 50%;

      & strong {
        opacity: 50%;
      }
    }
  }

  & img:nth-child(3) {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 92%;
    transform: rotate(-30deg);
    width: 2rem;
  }

  & img:nth-child(4) {
    position: absolute;
    right: 0.7rem;
    top: 100%;
    transform: rotate(20deg);
    width: 2rem;
  }

  & .span-mobile {
    display: initial;
  }
}

& .about:hover {
  & img:nth-child(1) {
    opacity: 1;
    transition: linear opacity ease;
  }

  & p:nth-child(2) {
    & span:nth-child(1) {
      opacity: 1;
      transition: opacity ease;

      & strong {
        opacity: 1;
        transition-property: opacity;
        transition-delay: 0.5s;
        color: var(--blue-light);
      }
    }

    & span:nth-child(2) {
      opacity: 1;
      transition-property: opacity;
      transition-delay: 0.5s;

      & strong {
        opacity: 1;
        transition-property: opacity;
        transition-delay: 0.5s;
        color: var(--blue-light);
      }
    }

    & span:nth-child(3) {
      opacity: 1;
      transition-property: opacity;
      transition-delay: 1s;

      & strong {
        opacity: 1;
        transition-property: opacity;
        transition-delay: 0.5s;
        color: var(--blue-light);
      }
    }
  }

  & img:nth-child(3) {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 0.5s;
  }

  & img:nth-child(4) {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 1s;
  }
}

@media (width >= 90em) {
  .about {
    width: 75rem;
    height: auto;

    & img:nth-child(1) {
      top: 3.5rem;
      right: 35.8rem;

      width: 5rem;
      height: 5rem;

      transform: rotate(20deg);
    }

    & p {
      margin-top: 6rem;
      & span {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 1.7;

        color: #e2e7e9;

        opacity: 50%;
      }

      & .span-mobile {
        display: none;
      }
    }

    & img:nth-child(3) {
      left: 2.5rem;
      top: 16rem;

      width: 5rem;
      height: 5rem;

      transform: rotate(100deg);
    }

    & img:nth-child(4) {
      right: -0.5rem;
      top: 100%;

      width: 5rem;
      height: 5rem;

      transform: rotate(-15deg);
    }
  }
}
