footer {
  background: url(../Assets/images/book-trace-background.png) bottom/cover no-repeat;
  display: flex;
  flex-direction: column;

  & .divasor {
    height: 2rem;
    width: 100%;
    border: 5px solid #fff;
  }

  & .social-links {
    & ul {
      display: flex;
    }
  }
}
